{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Alert Search" %}{% endblock %}
{% block head %}
  <style>
    .hidden{
      display: none;
    }
  </style>
{% endblock %}
{% block content %}

  <div id="header_wrapper" class="header-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <header id="header">
            <h1>{% trans "SEARCH ALERTS" %}</h1>
          </header>
        </div>
      </div>
    </div>
  </div>

  <div id="content" class="container-fluid">
    <div class="content-body">
      <div id="dashboard_content" class="tab-content">
        <div class="tab-pane fade active in" id="dashboard1">
          <div class="row">
            <div class="col-xs-12 col-sm-12 search-table">
                <form method="post" action="" id="search_form">{% csrf_token %}
                  <input id="id_name" name="search_text" type="text" maxlength="50"></td>
                  <button type="submit" value="Search">Search</button>
                </form>
                <div class="card alert-card hidden">
                  <div class="card-heading"><strong>Search Results</strong></div>
                  <div class="card-body">
                   <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th> Name </th>
                                <th> Server </th>
                                <th> Date </th>
                                <th> Logged-in User </th>
                                <th> Resolution Status </th>
                            </tr>
                          </thead>
                          <tbody class="table-body">
                            <!-- {% for alert in alert_list|slice:":21" %}
                                <tr>
                                  <td> {{alert.name}} </td>
                                  <td> {{alert.alert_server}} </td>
                                  <td> {{alert.created_at}} </td>
                                  <td> {{alert.alert_user}} </td>
                                  <td> {{alert.status}} </td>
                              </tr>
                          {% endfor %} -->
                          </tbody>
                        </table>
                      </div>
                  </div>
                </div>

                <div class="card no-alert-card hidden">
                  <div class="card-heading"><strong>No Search Results Found !</strong></div>
                </div>


            </div>
          </div>
        </div>
      </div>
      <!-- ENDS $dashboard_content -->
    </div>
  </div>
  <!-- ENDS $content -->
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function(){
      $("#search_form").on("submit", function() {
          input = $("#id_name").val();
          data = "text=" + input;
          $.ajax({
            url: '/alerts/search/',
            type: 'POST',
            data: {
              'search_text': input,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
              var search_hits = data["alert_list"]["hits"]["hits"];
              var alert_div = $('.table-body');
              if (search_hits.length === 0){
                $(".alert-card").addClass("hidden");
                $(".no-alert-card").removeClass("hidden");
                alert_div.html('');
              }
              else{
                $(".alert-card").removeClass("hidden");
                $(".no-alert-card").addClass("hidden");
                alert_div.html('');
                /*alert_div.append('<div id="content" class="container-fluid"><div class="content-body"><div id="dashboard_content" class="tab-content"><div class="tab-pane fade active in" id="dashboard1"><div class="row"><div class="col-xs-12 col-sm-12"><div class="card"><div class="card-body"><div class="table-responsive"><table class="table table-striped"><thead><tr><td><strong>Most Recent Alerts :</strong></td></tr><tr><th> Name </th><th> Server </th><th> Date </th><th> Logged-in User </th><th> Resolution Status </th></tr></thead><tbody>');*/
                $.each(search_hits, function(key,valueObj){
                    alert_div.append('<tr><td>'+valueObj._source.name+'</td><td>'+valueObj._source.server_ip+'</td><td>'+valueObj._source.created_at+'</td><td>'+valueObj._source.logged_user+'</td><td>'+valueObj._source.status+'</td></tr>');
                });
              }
              /*alert_div.append('</tbody></table></div></div></div></div></div></div></div></div></div>');*/
              console.log("Search Form submitted Successfully");
            },
            error : function() {
              console.log("Error submitting search form");
            }

          });
          return false;
        });
    });
  </script>
{% endblock %}