{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>{% block head_title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'assets/css/vendor.bundle.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/app.bundle.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/theme-a.css' %}">
	{% block head %}{%endblock%}
</head>

<body>
	<div id="app_wrapper">
		<header id="app_topnavbar-wrapper">
			<nav role="navigation" class="navbar topnavbar">
				<div class="nav-wrapper">
					<ul class="nav navbar-nav pull-left left-menu">
						<li class="app_menu-open">
							<a href="javascript:void(0)" data-toggle-state="app_sidebar-left-open" data-key="leftSideBar">
								<i class="zmdi zmdi-menu"></i>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav left-menu hidden-xs">
            <li>
              <a href="/" class="nav-link">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="{% url 'alert-list' %}" class="nav-link">
                <span>Alert</span>
              </a>
            </li>
            <li>
              <a href="{% url 'alert-search' %}" class="nav-link">
                <span>Alert Search</span>
              </a>
            </li>
            <li>
              <a href="{% url 'log-search-box' %}" class="nav-link">
                <span>Log Search Box</span>
              </a>
            </li><li>
              <a href="{% url 'log-search' %}" class="nav-link">
                <span>Log Search</span>
              </a>
            </li>
            
          </ul>
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown avatar-menu">
							<a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
								<span class="meta">
									<span class="avatar">
										<img src="{% static 'assets/img/profiles/02.jpg' %}" alt="" class="img-circle max-w-35">
										<i class="badge mini success status"></i>
									</span>
									<span class="name">{{user}}</span>
									<span class="caret"></span>
								</span>
							</a>
							<ul class="dropdown-menu btn-primary dropdown-menu-right">
								<li>
									<a href="{% url 'profile' %}"><i class="zmdi zmdi-account"></i> Profile</a>
								</li>
								
								<li>
									<a href="{% url 'account_change_password' %}"><i class="zmdi zmdi-settings"></i> Account Settings</a>
								</li>
								<li>
									<a href="{% url 'account_logout' %}"><i class="zmdi zmdi-sign-in"></i> Sign Out</a>
								</li>
							</ul>
						</li>
						
						<!-- <li>
							<a href="javascript:void(0)" data-navsearch-open>
								<i class="zmdi zmdi-search"></i>
							</a>
						</li> -->
						
					</ul>
				</div>
				<!-- <form role="search" action="" method="get" class="navbar-form" id="navbar_form">
					<div class="form-group">
						<input type="text" placeholder="Search and press enter..." class="form-control" id="navbar_search" autocomplete="off">
						<i data-navsearch-close class="zmdi zmdi-close close-search"></i>
					</div>
					<button type="submit" class="hidden btn btn-default">Submit</button>
				</form>
				<form method="post" action="" id="search_form">{% csrf_token %}
				    <table class="table_form">
				        <tr>
				            <td><input id="id_name" type="text" maxlength="50"></td>
				            <td><input type="submit" value="Search"></td>
				        </tr>
				    </table>
				</form> -->
			</nav>
		</header>
		<aside id="app_sidebar-left">
			<div id="logo_wrapper">
				<ul>
					<li class="logo-icon">
						<a href="/">
							<div class="logo">
								<img src="{% static 'assets/img/logo/logo_large.png' %}" alt="Logo">
							</div>
						</a>
					</li>
					<li class="menu-icon">
						<a href="javascript:void(0)" role="button" data-toggle-state="app_sidebar-menu-collapsed" data-key="leftSideBar">
							<i class="mdi mdi-backburger"></i>
						</a>
					</li>
				</ul>
			</div>
			<nav id="app_main-menu-wrapper" class="scrollbar">
				<div class="sidebar-inner sidebar-push">
					<ul class="nav nav-pills nav-stacked">
						<li class="sidebar-header">NAVIGATION</li>
						<li class="active"><a href="/"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a></li>
						<li><a href="{% url 'profile' %}"><i class="zmdi zmdi-account"></i>Profile</a></li>
						<li><a href="{% url 'account_logout' %}"><i class="zmdi zmdi-account"></i>Logout</a></li>
						</ul>
					</div>
				</nav>
			</aside>

			<section id="content_outer_wrapper" class="">
				<div id="content_wrapper" >
					{% block content %}
					<div id="header_wrapper" class="header-sm">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<header id="header">
										<h1>Dashboards</h1>
									</header>
								</div>
							</div>
						</div>
						
					</div>

					<div id="content" class="container-fluid">
						<div class="content-body">
							<div id="dashboard_content" class="tab-content">
								<div class="tab-pane fade active in" id="dashboard1">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
							                <div class="card">
							                  <div class="card-heading"><strong>Events</strong></div>
							                  <div class="card-body">
							                   <div class="table-responsive">
							                   		{% if event_list %}
							                        <table class="table table-striped">
							                          <thead>
							                            <tr>
							                                <th> Total </th>
							                                <th> Last Hour </th>
							                                <th> This Week </th>
							                                <th> This Month </th>
							                            </tr>
							                          </thead>
							                          <tbody>
							                                <tr>
								                                <td> {{event_list.count}} </td>
								                                <td> {{hourly_events}} </td>
								                                <td> {{weekly_events}} </td>
								                                <td> {{monthly_events}} </td>
								                            </tr>
							                          </tbody>
							                        </table>
							                        {% else %}
							                        	<p>No events logged !</p>
							                        {% endif %}
							                    </div>
							                  </div>
							                </div>
							            </div>

							            <div class="col-xs-12 col-sm-6">
							                <div class="card">
							                  <div class="card-heading"><strong>Alerts</strong></div>
							                  <div class="card-body">
							                   <div class="table-responsive">
							                   		{% if alert_list %}
							                        <table class="table table-striped">
							                          <thead>
							                            <tr>
							                                <th> Total </th>
							                                <th> Last 30 days </th>
							                                <th> Today </th>
							                            </tr>
							                          </thead>
							                          <tbody>
							                                <tr>
								                                <td> {{alert_list|length}} </td>
								                                <td> {{last_30_days_alerts_count}} </td>
								                                <td> {{today_alerts_count}} </td>
								                            </tr>
							                          </tbody>
							                        </table>
							                        {% else %}
							                        	<p>No alerts logged !</p>
							                        {% endif %}
							                    </div>
							                  </div>
							                </div>
							            </div>
							            {% if alert_list|slice:":21" %}
										<div class="col-xs-12 col-sm-12">
							                <div class="card">
							                  <div class="card-heading"><strong>Most Recent Alerts</strong></div>
							                  <div class="card-body">
							                   <div class="table-responsive">
							                        <table class="table table-striped">
							                          <thead>
							                            <tr>
							                                <th> Name </th>
							                                <th> Server </th>
							                                <th> Date </th>
							                                <th> Logged-in User </th>
							                                <th> Resolution Status </th>
							                            </tr>
							                          </thead>
							                          <tbody>
							                            {% for alert in alert_list|slice:":21" %}
							                                <tr>
								                                <td> {{alert.name}} </td>
								                                <td> {{alert.alert_server}} </td>
								                                <td> {{alert.created_at}} </td>
								                                <td> {{alert.alert_user}} </td>
								                                <td> {{alert.status}} </td>
								                            </tr>
								                        {% endfor %}
							                          </tbody>
							                        </table>
							                      </div>
							                  </div>
							                </div>
							            </div>
							            {% endif %}

							            <div class="col-xs-12 col-sm-12">
							                <div class="card">
							                  <div class="card-heading"><strong>Reporting Hosts</strong></div>
							                  <div class="card-body">
							                   <div class="table-responsive">
							                   		{% if host_list %}
							                        <table class="table table-striped">
							                          <thead>
							                            <tr>
							                                <th> S No. </th>
							                                <th> Host IP </th>
							                            </tr>
							                          </thead>
							                          <tbody>
							                            {% for host in host_list %}
							                                <tr>
								                                <td> {{forloop.counter}} </td>
								                                <td> {{host.server_ip}} </td>
								                            </tr>
								                        {% endfor %}
							                          </tbody>
							                        </table>
							                        {% else %}
							                        	<p>No Reporting Hosts</p>
							                        {% endif %}
							                      </div>
							                  </div>
							                </div>
							            </div>

							            <div class="col-xs-12 col-sm-6">
							                <div class="card">
							                  <div class="card-heading"><strong>Incoming External IP's</strong></div>
							                  <div class="card-body">
							                   <div class="table-responsive">
							                        <table class="table table-striped">
							                          <thead>
							                            <tr>
							                                <th> Last Hour </th>
							                                <th> Today </th>
							                                <th> This Week </th>
							                                <th> This Month </th>
							                            </tr>
							                          </thead>
							                          <tbody>
							                                <tr>
								                                <td> 1 </td>
								                                <td> 2 </td>
								                                <td> 6 </td>
								                                <td> 8 </td>
								                            </tr>
							                          </tbody>
							                        </table>
							                      </div>
							                  </div>
							                </div>
							            </div>

							            <div class="col-xs-12 col-sm-6">
							                <div class="card">
							                  <div class="card-heading"><strong>Outgoing External IP's</strong></div>
							                  <div class="card-body">
							                   <div class="table-responsive">
							                        <table class="table table-striped">
							                          <thead>
							                            <tr>
							                                <th> Last Hour </th>
							                                <th> Today </th>
							                                <th> This Week </th>
							                                <th> This Month </th>
							                            </tr>
							                          </thead>
							                          <tbody>
							                                <tr>
							                                	<td> 4 </td>
								                                <td> 5 </td>
								                                <td> 8 </td>
								                                <td> 15 </td>
								                            </tr>
							                          </tbody>
							                        </table>
							                      </div>
							                  </div>
							                </div>
							            </div>


									<!--div class="row">
										<div class="col-xs-12 col-sm-6">
                <div class="card">
                  <header class="card-heading ">
                    <h2 class="card-title">List Group with Icons</h2>
                    <ul class="card-actions icons right-top">
                      <li>
                        <a href="javascript:void(0)" data-toggle-view="code">
                          <i class="zmdi zmdi-code"></i>
                        </a>
                      </li>
                    </ul>
                  </header>
                  <div class="card-body">
                    <div class="list-group m-t-40">
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <i class="zmdi zmdi-folder circle mw-salmon"></i>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <i class="zmdi zmdi-folder circle mw-salmon"></i>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <i class="zmdi zmdi-folder circle mw-salmon"></i>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <i class="zmdi zmdi-folder circle mw-salmon"></i>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
										<div class="col-xs-12 col-sm-6">
                <div class="card">
                  <header class="card-heading ">
                    <h2 class="card-title">List Group with Avatars</h2>
                    <ul class="card-actions icons right-top">
                      <li>
                        <a href="javascript:void(0)" data-toggle-view="code">
                          <i class="zmdi zmdi-code"></i>
                        </a>
                      </li>
                    </ul>
                  </header>
                  <div class="card-body">
                    <div class="list-group m-t-40">
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <img src="{% static 'assets/img/profiles/11.jpg' %}" alt="contact person" class="img-circle circle">
                        </div>
                        <div class="row-content">
                          <div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <img src="{% static 'assets/img/profiles/08.jpg' %}" alt="contact person" class="img-circle circle">
                        </div>
                        <div class="row-content">
                          <div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <img src="{% static 'assets/img/profiles/07.jpg' %}" alt="contact person" class="img-circle circle">
                        </div>
                        <div class="row-content">
                          <div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row-action-primary">
                          <img src="{% static 'assets/img/profiles/13.jpg' %}" alt="contact person" class="img-circle circle">
                        </div>
                        <div class="row-content">
                          <div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
                          <h4 class="list-group-item-heading">List item with icon</h4>
                          <p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
										
									</div-->
									
									<div class="tab-pane fade" id="dashboard2">
										<div class="row">
											<div class="col-lg-7">
												<div class="card card-nav-tabs">
													<header class="card-heading heading-primary">
														<div class="nav-tabs-navigation">
															<div class="nav-tabs-wrapper">
																<ul class="nav nav-tabs" data-tabs="tabs">
																	<li class="active">
																		<a href="#cardnav5" role="tab" data-toggle="tab">
																			<i class="zmdi zmdi-home"></i> Home
																		</a>
																	</li>
																	<li>
																		<a href="#cardnav6" role="tab" data-toggle="tab">
																			<i class="zmdi zmdi-calendar-note"></i> About
																		</a>
																	</li>
																	<li>
																		<a href="#cardnav7" role="tab" data-toggle="tab">
																			<i class="zmdi zmdi-view-list-alt"></i> Tasks
																		</a>
																	</li>
																	<li>
																		<a href="#cardnav8" role="tab" data-toggle="tab">
																			<i class="zmdi zmdi-settings"></i> Settings
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</header>
													<div class="card-body">
														<div class="tab-content">
															<div class="tab-pane fadeIn active" id="cardnav5">
																<p>Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest
																	biodiesel. Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb.</p>
																</div>
																<div class="tab-pane fadeIn" id="cardnav6">
																	<p>Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&amp;B. Mlkshk schlitz
																		whatever, twee wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland.
																	</p>
																</div>
																<div class="tab-pane fadeIn" id="cardnav7">
																	<p>Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse
																		pug drinking vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free.
																	</p>
																</div>
																<div class="tab-pane fadeIn" id="cardnav8">
																	<p>Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&amp;B
																		+1 edison bulb master cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings.
																	</p>
																</div>
															</div>
														</div>
													</div>
													<div class="row m-t-30">
														<div class="col-xs-12 col-sm-6">
															<div class="card image-over-card">
																<div class="card-image">
																	<a href="javascript:vodi(0)">
																		<img src="{% static 'assets/img/gallery/full/full-11.jpg' %}">
																	</a>
																</div>
																<div class="card-body">
																	<h4 class="card-title text-center">Raven Warwick</h4>
																	<h6 class="category text-gray text-center">UI/UX Designer</h6>
																	<div class="card-footer text-center">
																		<button class="btn btn-twitter btn-fab btn-fab-sm m-l-5 m-r-5"><i class="zmdi zmdi-twitter"></i></button>
																		<button class="btn btn-facebook btn-fab btn-fab-sm m-l-5 m-r-5"><i class="zmdi zmdi-facebook"></i></button>
																		<button class="btn btn-dribbble btn-fab btn-fab-sm m-l-5 m-r-5"><i class="zmdi zmdi-dribbble"></i></button>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-6">
															<div class="card image-over-card">
																<div class="card-image">
																	<a href="javascript:void(0)">
																		<img src="{% static 'assets/img/gallery/full/full-13.jpg' %}">
																	</a>
																</div>
																<div class="card-body">
																	<h4 class="card-title">Focus on your growing business</h4>
																	<h6 class="category text-gray">10 min read</h6>
																	<div class="card-footer">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-5">
													<div class="card type--scheduler ">
														<header class="card-heading">
															<div class="curr-date">
																<h3 class="curr-dd text-white"></h3>
																<h5 class="curr-mmmm-dd text-white"></h5>
															</div>
															<ul class="card-actions icons  alt-actions right-top">
																<li>
																	<a href="javascript:void(0)" data-toggle="refresh">
																		<i class="zmdi zmdi-refresh-alt"></i>
																	</a>
																</li>
															</ul>
															<ul class="card-actions icons fab-action right-bottom m-b-n-30">
																<li>
																	<button type="button" class="btn btn-primary btn-fab" data-toggle="modal" data-target="#schedule_modal"><i class="zmdi zmdi-plus"></i></button>
																</li>
															</ul>
														</header>
														<div class="card-body clear-both p-0 max-h-500 scrollbar">
															<div class="week-container">
																<ul class="week top">
																	<li class="day day-names"><span>sun</span></li>
																	<li class="day day-names"><span>mon</span></li>
																	<li class="day day-names"><span>tue</span></li>
																	<li class="day day-names"><span>wed</span></li>
																	<li class="day day-names"><span>thu</span></li>
																	<li class="day day-names"><span>fri</span></li>
																	<li class="day day-names"><span>sat</span></li>
																</ul>
																<ul class="week bottom">
																	<li class="day"><span>7</span></li>
																	<li class="day"><span>8</span></li>
																	<li class="day current point"><span>9</span></li>
																	<li class="day"><span>10</span></li>
																	<li class="day"><span>11</span></li>
																	<li class="day point"><span>12</span></li>
																	<li class="day"><span>13</span></li>
																</ul>
															</div>
															<ul class="list-group p-0">
																<li class="list-group-item border-top p-t-20 p-b-20">
																	<span class="pull-left"><img src="{% static 'assets/img/profiles/01.jpg' %}" alt="" class="img-circle max-w-50 m-r-10"></span>
																	<div class="list-group-item-body">
																		<div class="list-group-item-heading">Design meeting with Melissa</div>
																		<div class="list-group-item-text">8:00 - 10:30am</div>
																	</div>
																</li>
																<li class="list-group-item border-top p-t-20 p-b-20">
																	<span class="pull-left"><img src="{% static 'assets/img/profiles/04.jpg' %}" alt="" class="img-circle max-w-50 m-r-10"></span>
																	<div class="list-group-item-body">
																		<div class="list-group-item-heading">Review mockups with Janet </div>
																		<div class="list-group-item-text">10:15 - 11:30am Hangouts</div>
																	</div>
																</li>
																<li class="list-group-item border-top p-t-20 p-b-20">
																	<span class="pull-left"><img src="{% static 'assets/img/profiles/18.jpg' %}" alt="" class="img-circle max-w-50 m-r-10"></span>
																	<div class="list-group-item-body">
																		<div class="list-group-item-heading">Catch up with Michael</div>
																		<div class="list-group-item-text">8:30pm Lost Forty Brewing</div>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- ENDS $dashboard_content -->
								</div>
							</div>
							{% endblock %}
							<!-- ENDS $content -->
							
</div>
<footer id="footer_wrapper">
	<div class="footer-content">
		<div class="row">
			<div class="row copy-wrapper">
				<div class="col-xs-8">
					<p class="copy">&copy; Copyright <time class="year"></time> Detexian - All Rights Reserved</p>
				</div>
				<div class="col-xs-4">
					<ul class="social">
						<li>
							<a href="javascript:void(0)"> </a>
						</li>
						<li>
							<a href="javascript:void(0)"> </a>
						</li>
						<li>
							<a href="javascript:void(0)"> </a>
						</li>
						<li>
							<a href="javascript:void(0)"> </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</section>

<aside id="app_sidebar-right">
	<div class="sidebar-inner sidebar-overlay">
		<div class="tabpanel">
			<ul class="nav nav-tabs nav-justified">
				<li class="active" role="presentation"><a href="#sidebar_chat" data-toggle="tab" aria-expanded="true">Chat</a></li>
				<li role="presentation"><a href="#sidebar_activity" data-toggle="tab">Activity</a></li>
				<li role="presentation"><a href="#sidebar_settings" data-toggle="tab">Settings</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="sidebar_chat">
					<form class="m-l-15 m-r-15 m-t-30">
						<div class="input-group search-target">
							<span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
							<div class="form-group is-empty">
								<input type="text" value="" placeholder="Filter contacts..." class="form-control" data-search-trigger="open">
							</div>
						</div>
					</form>
					<ul class="description">
						<li class="title">
							Online
						</li>
					</ul>
					<ul class="list-group p-0">
						<li class="list-group-item" data-chat="open" data-chat-name="John Smith">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/07.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini success status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">John Smith</div>
								<div class="list-group-item-text">New York, NY</div>
							</div>
						</li>
						<li class="list-group-item" data-chat="open" data-chat-name="Allison Grayce">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/05.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini success status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Allison Grayce</div>
								<div class="list-group-item-text">Seattle, WA</div>
							</div>
						</li>
						<li class="list-group-item" data-chat="open" data-chat-name="Ashley Ford">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/18.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini success status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Ashley Ford</div>
								<div class="list-group-item-text">Denver, CO</div>
							</div>
						</li>
						<li class="list-group-item" data-chat="open" data-chat-name="Johanna Kollmann">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/11.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini success status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Johanna Kollmann </div>
								<div class="list-group-item-text">Palo Alto, Ca</div>
							</div>
						</li>
					</ul>
					<ul class="description">
						<li class="title">
							Busy
						</li>
					</ul>
					<ul class="list-group p-0">
						<li class="list-group-item" data-chat="open" data-chat-name="Mike Jones">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/03.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini warning status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Mike Jones </div>
								<div class="list-group-item-text">San Francisco, CA</div>
							</div>
						</li>
						<li class="list-group-item" data-chat="open" data-chat-name="Nikki Clark">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/06.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini warning status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Nikki Clark </div>
								<div class="list-group-item-text">Sarasota, FL</div>
							</div>
						</li>
						<li class="list-group-item" data-chat="open" data-chat-name="Jason Kendall">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/15.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini warning status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Jason Kendall </div>
								<div class="list-group-item-text">New York, NY</div>
							</div>
						</li>
					</ul>
					<ul class="description">
						<li class="title">
							Offline
						</li>
					</ul>
					<ul class="list-group p-0">
						<li class="list-group-item" data-chat="open" data-chat-name="Josh Hemsley">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/16.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini danger status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">Josh Hemsley</div>
								<div class="list-group-item-text">Salem, MA</div>
							</div>
						</li>
						<li class="list-group-item" data-chat="open" data-chat-name="James Hart">
							<span class="pull-left"><img src="{% static 'assets/img/profiles/09.jpg' %}" alt="" class="img-circle max-w-40 m-r-10 "></span>
							<i class="badge mini danger status"></i>
							<div class="list-group-item-body">
								<div class="list-group-item-heading">James Hart</div>
								<div class="list-group-item-text">Salem, MA</div>
							</div>
						</li>
					</ul>
					<button class="btn btn-primary btn-fab btn-fab-sm animate-fab" data-chat="open" id="chat_fab_new">
						<i class="zmdi zmdi-plus"></i>
					</button>
				</div>
				<div class="tab-pane fade" id="sidebar_activity">
					<div class="sidebar-timeline">
						<div class="time-item">
							<div class="item-info">
								<small class="text-muted">15 minutes ago</small>
								<p><a href="#" class="accent">Mike Jones</a> fixed z-index conflict sidebar.scss</p>
							</div>
						</div>
						<div class="time-item">
							<div class="item-info">
								<small class="text-muted">30 minutes ago</small>
								<p><a href="javascript:void(0)" class="accent">Hazel	Dean</a> left a comment on product page designs.</p>
								<p><em>"Yuccie shoreditch trust fund, artisan tumblr sustainable cronut unicorn blog seitan. "</em></p>
							</div>
						</div>
						<div class="time-item">
							<div class="item-info">
								<small class="text-muted">45 minutes ago</small>
								<p><a href="javascript:void(0)" class="accent">Molly</a> requested time off for training.</p>
								<p><em>"Snackwave church-key cardigan you probably haven't heard of them, asymmetrical microdosing cronut "</em></p>
							</div>
						</div>
						<div class="time-item">
							<div class="item-info">
								<small class="text-muted">3 hours ago</small>
								<p><a href="javascript:void(0)" class="accent">Frederick	Roy</a> commented your post.</p>
								<p><em>"Skateboard dreamcatcher la croix, edison bulb sustainable sriracha vexillologist kombucha master cleanse."</em></p>
							</div>
						</div>
						<div class="time-item">
							<div class="item-info">
								<small class="text-muted">1 hour ago</small>
								<p><a href="javascript:void(0)" class="accent">Holly Cobb</a> Uploaded 6 new photos.</p>
							</div>
						</div>
						<div class="time-item">
							<div class="item-info">
								<small class="text-muted">5 hours ago</small>
								<p><a href="javascript:void(0)" class="accent">Neal Stephens</a> setup a meeting with<a href="#" class="text-success"> Jason Kendall</a>.</p>
								<p><em>"Authentic aesthetic tattooed, PBR&B squid tote bag schlitz vaporware glossier yr man braid direct trade disrupt poke.  "</em></p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="sidebar_settings">
					<div class="color-container">
						<h3 class="title">Preset Color Options</h3>
						<div class="row">
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-a.css' %}">
										<input type="radio" name="setting-theme" checked="checked">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-a"></span>
											<span class="color bg-shade-theme-a"></span>
										</span>
										<span class="color bg-menu-darkBlue"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-b.css' %}">
										<input type="radio" name="setting-theme">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-b"></span>
											<span class="color bg-shade-theme-b"></span>
										</span>
										<span class="color  bg-menu-darkBlue"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-c.css' %}">
										<input type="radio" name="setting-theme">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-c"></span>
											<span class="color bg-shade-theme-c"></span>
										</span>
										<span class="color  bg-menu-darkBlue"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-d.css' %}">
										<input type="radio" name="setting-theme">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-d"></span>
											<span class="color bg-shade-theme-d"></span>
										</span>
										<span class="color  bg-menu-darkBlue"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="row m-t-20">
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-e.css' %}">
										<input type="radio" name="setting-theme" checked="checked">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-e"></span>
											<span class="color bg-shade-theme-e"></span>
										</span>
										<span class="color bg-menu-white"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-f.css' %}">
										<input type="radio" name="setting-theme">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-f"></span>
											<span class="color bg-shade-theme-f"></span>
										</span>
										<span class="color  bg-menu-white"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-g.css' %}">
										<input type="radio" name="setting-theme">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-g"></span>
											<span class="color bg-shade-theme-g"></span>
										</span>
										<span class="color  bg-menu-white"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-3 p-0">
								<div class="color-option-check">
									<label data-load-css="{% static 'assets/css/theme-h.css' %}">
										<input type="radio" name="setting-theme">
										<span class="icon-check"></span>
										<span class="split">
											<span class="color bg-primary-theme-h"></span>
											<span class="color bg-shade-theme-h"></span>
										</span>
										<span class="color  bg-menu-white"></span>
									</label>
								</div>
							</div>
						</div>
						<h3 class="title m-t-30">Layout Mode</h3>
						<ul class="description">
							<li>
								<div class="radio block"><label><input type="radio" name="layoutMode" value="" checked>FULL WIDTH</label></div>
							</li>
							<li>
								<div class="radio block"><label><input type="radio" name="layoutMode" value="boxed-layout">BOXED</label></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
<section id="chat_compose_wrapper">
	<div class="tippy-top">
		<div class="recipient">Allison Grayce</div>
		<ul class="card-actions icons  right-top">
			<li>
				<a href="javascript:void(0)">
					<i class="zmdi zmdi-videocam"></i>
				</a>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
					<i class="zmdi zmdi-more-vert"></i>
				</a>
				<ul class="dropdown-menu btn-primary dropdown-menu-right">
					<li>
						<a href="javascript:void(0)">Option One</a>
					</li>
					<li>
						<a href="javascript:void(0)">Option Two</a>
					</li>
					<li>
						<a href="javascript:void(0)">Option Three</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0)" data-chat="close">
					<i class="zmdi zmdi-close"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class='chat-wrapper scrollbar'>
		<div class='chat-message scrollbar'>
			<div class='chat-message chat-message-recipient'>
				<img class='chat-image chat-image-default' src='assets/img/profiles/05.jpg' />
				<div class='chat-message-wrapper'>
					<div class='chat-message-content'>
						<p>Hey Mike, we have funding for our new project!</p>
					</div>
					<div class='chat-details'>
						<span class='today small'></span>
					</div>
				</div>
			</div>
			<div class='chat-message chat-message-sender'>
				<img class='chat-image chat-image-default' src='assets/img/profiles/02.jpg' />
				<div class='chat-message-wrapper '>
					<div class='chat-message-content'>
						<p>Awesome! Photo booth banh mi pitchfork kickstarter whatever, prism godard ethical 90's cray selvage.</p>
					</div>
					<div class='chat-details'>
						<span class='today small'></span>
					</div>
				</div>
			</div>
			<div class='chat-message chat-message-recipient'>
				<img class='chat-image chat-image-default' src='assets/img/profiles/05.jpg' />
				<div class='chat-message-wrapper'>
					<div class='chat-message-content'>
						<p> Artisan glossier vaporware meditation paleo humblebrag forage small batch.</p>
					</div>
					<div class='chat-details'>
						<span class='today small'></span>
					</div>
				</div>
			</div>
			<div class='chat-message chat-message-sender'>
				<img class='chat-image chat-image-default' src='assets/img/profiles/02.jpg' />
				<div class='chat-message-wrapper'>
					<div class='chat-message-content'>
						<p>Bushwick letterpress vegan craft beer dreamcatcher kickstarter.</p>
					</div>
					<div class='chat-details'>
						<span class='today small'></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="compose-footer">
		<form class="form-horizontal compose-form">
			<ul class="card-actions icons left-bottom">
				<li>
					<a href="javascript:void(0)">
						<i class="zmdi zmdi-attachment-alt"></i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="zmdi zmdi-mood"></i>
					</a>
				</li>
			</ul>
			<div class="form-group m-10 p-l-75 is-empty">
				<div class="input-group">
					<label class="sr-only">Leave a comment...</label>
					<input type="text" class="form-control form-rounded input-lightGray" placeholder="Leave a comment..">
					<span class="input-group-btn">
						<button type="button" class="btn btn-blue btn-fab  btn-fab-sm">
							<i class="zmdi zmdi-mail-send"></i>
						</button>
					</span>
				</div>
			</div>
		</form>
	</footer>
</section>
</div>
<div class="modal fade" id="schedule_modal" tabindex="-1" role="dialog" aria-labelledby="schedule_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel-2">Title goes here</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ligula id sem tristique ultrices eget id neque. Duis enim turpis, tempus at accumsan vitae, lobortis id sapien. Pellentesque nec orci mi, in pharetra ligula. Nulla facilisi. Nulla
					facilisi. Mauris convallis venenatis massa, quis consectetur felis ornare quis. Sed aliquet nunc ac ante molestie ultricies. Nam pulvinar ultricies bibendum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success">Ok</button>
				</div>
			</div>
			<!-- modal-content -->
		</div>
		<!-- modal-dialog -->
	</div>
	
</body>

	<script src="{% static 'assets/js/vendor.bundle.js' %}"></script>
	<script src="{% static 'assets/js/app.bundle.js' %}"></script>
	{% block js %}
	{% endblock %}
	<!-- <script>
		$(document).ready(function(){
			/*$("#navbar_form").on("submit", function(e){
			  var input = $('#navbar_search').val();
			  alert(input);*/
			$("#search_form input[type='submit']").click(function() {
		      input = $("#id_name").val();
		      alert(input);
		      data = "text=" + input;
		      $.ajax({
		        url: '/',
		        type: 'POST',
		        data: {
		          'search_text': input,
		          'csrfmiddlewaretoken': '{{ csrf_token }}'
		        },
		        success: function(data) {
		          console.log(data);
		          $("html").html(data);
		          console.log("Search Form Successfully");
		        },
		        error : function() {
		          console.log("Error submitting search form");
		        }

		      });
		      return false;
		    });
		});
	</script> -->

</html>
